name: CI
on:
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Clone repo
        uses: actions/checkout@v3
      
      - name: Install Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
        
      - name: Build
        run: zig build
        
      - name: Run tests
        run: zig build test